* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: poppins;
}

ul,
ul.nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 110px 100px;
  color: #000;
}





section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

.chevron-up {
  position: absolute;
  width: 50px;
  top: 30px;
}

.chevron-down {
  position: absolute;
  width: 50px;
  bottom: 30px;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.svg {
  animation: moveUpDown 1.5s infinite;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #852522;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 100%;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}

#myBtn svg {
  width: 25px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #852522;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@media (max-width: 992px) {
	section {
		padding: 125px 30px;
	}

	.chevron-up {
		width: 75px;
	}

	.chevron-down {
		width: 75px;
	}
		#myBtn svg {
			width: 50px;
		}
}